{{left_sidebar_enabled,right_sidebar_enabled=False,False}}
{{extend 'layout.html'}}

{{=form.custom.begin}}

<div class="col-md-12">
    <h1>{{=T( 'Image gallery' ) }}</h1>
    <div class="row">
        <div class="col-md-6">
            {{=T( 'Image count' ) }}: {{=rec_count }}
        </div>
    </div>
    <div class="row" style="padding: 10px; margin: 10px;">
        <div class="col-md-12" style="padding: 10px; background-color: #e1e3ff; border: 1px solid #ccb;">
            <div class="row">
                <div class="col-md-2">
                    <label>
                        {{=T( 'Image to be added' ) }}:
                    </label>
                </div>
                <div class="col-md-4">
                    <input id="qv_upload_file" name="qv_upload_file" type="file">
                    <img src="#"
                         id="attached_thumb"
                         alt="{{=T( 'No file selected' ) }}"
                         style="width:100%; max-width: 160px;" />

                </div>
                <div class="col-md-1">
                    <label>
                        {{=T( 'Unit' ) }}:
                    </label>
                </div>
                <div class="col-md-2">
                    {{=form.custom.widget.qv_unit_type }}
                </div>
                <div class="col-md-1">
                    <label>
                        {{=T( 'Size' ) }}:
                    </label>
                </div>
                <div class="col-md-2">
                    {{=form.custom.widget.qv_page_size }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <label>
                        {{=T( 'Filename' ) }}:
                    </label>
                </div>
                <div class="col-md-4">
                    <input id="qv_filename" name="qv_filename" type="text">
                </div>
                <div class="col-md-6 text-center">
                    <button class="btn btn-success"
                            name="action"
                            type="submit"
                            value="act_upload_file">
                        {{=T( 'Add image' ) }}
                    </button>
                </div>
            </div>
        </div>
    </div>
    {{for row in range( rows ): }}
        <div class="row">
            {{for col in range( cols ): }}
                {{idx = cols * row + col }}
                {{if idx < len( records ): }}
                    <div class="{{=col_class }} text-center">
                        {{if next_c: }}
                            {{url=URL( c=next_c,
                                       f=next_f,
                                       args=next_args,
                                       vars={ 'action': 'act_new_image',
                                              'target': target,
                                              'attach_id': records[ idx ].id } ) }}
                        {{else: }}
                            {{url=URL( c= url_c, f=url_f, args=[ records[ idx ].id ] ) }}
                        {{pass}}
                        <a href="{{=url }}"
                           class="site_image_thumb">
                            <img src="{{=URL( c='default', f='download', args=[ records[ idx ].attached ] ) }}"
                                 class="site_image_thumb">
                            <div>
                                {{=records[ idx ].filename }}
                            </div>
                            <div>
                                {{='(%(w)sx%(h)s)' % dict( w=records[ idx ].img_width, h=records[ idx ].img_height) }}
                            </div>
                        </a>
                        {{if records[ idx ].is_file_in_static: }}
                            <div class="saved_to_disk">
                                <span class="glyphicon glyphicon-floppy-saved"></span>
                            </div>
                        {{pass}}
                    </div>
                {{pass}}
            {{pass}}
        </div>
    {{pass}}
    <div class="row">
        <div class="col-md-6">
            {{=nav_prev }}
        </div>
        <div class="col-md-6 text-right">
            {{=nav_next }}
        </div>
    </div>
</div>

{{=form.custom.end}}

{{block right_sidebar}}
{{end}}

<script>
jQuery( function () {
    jQuery( "#qv_upload_file" ).change( function () {
        if (this.files && this.files[0]) {
            var reader = new FileReader();
            reader.onload = imageIsLoaded;
            reader.readAsDataURL(this.files[0]);
            var filename = this.value.split(/(\\|\/)/g).pop();
            console.log( 'filename: ' + filename );
            var new_filename = sanitize_filename( filename );
			jQuery( '#qv_filename' ).val( new_filename );
        }
    });
});

function imageIsLoaded(e) {
    $('#attached_thumb').attr('src', e.target.result);
};
</script>