<!DOCTYPE html>
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{=T.accepted_language or 'en'}}"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <!-- www.phpied.com/conditional-comments-block-downloads/ -->
        <!-- Always force latest IE rendering engine
                 (even in intranet) & Chrome Frame
                 Remove this if you use the .htaccess -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge{{=not request.is_local and ',chrome=1' or ''}}">
        <!--    Mobile Viewport Fix
                    j.mp/mobileviewport & davidbcalhoun.com/2010/viewport-metatag
                    device-width: Occupy full width of the screen in its current orientation
                    initial-scale = 1.0 retains dimensions instead of zooming out if page height > device height
                    user-scalable = yes allows the user to zoom in -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{=response.title or request.application}}</title>
        <!-- http://dev.w3.org/html5/markup/meta.name.html -->
        <meta name="application-name" content="{{=request.application}}">
        <!-- Speaking of Google, don't forget to set your site up:
                 http://google.com/webmasters -->
<!--        <meta name="google-site-verification" content="">-->
        <!-- include stylesheets -->
<!--        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>-->
        <link rel="stylesheet" href="{{=URL('static','css/bootstrap.min.css')}}"/>
        <link rel="stylesheet" href="{{=URL('static','css/web2py-bootstrap3.css')}}"/>
        <link rel="shortcut icon" href="{{=URL('static','images/favicon.ico')}}" type="image/x-icon">
        <link rel="apple-touch-icon" href="{{=URL('static','images/favicon.png')}}">
        <!-- All JavaScript at the bottom, except for Modernizr which enables
                 HTML5 elements & feature detects -->
        <!-- Favicons -->
        {{include 'web2py_ajax.html'}} <!-- this includes jquery.js, calendar.js/.css and web2py.js -->
            
        <!-- include custom stylesheets -->
        <link rel="stylesheet" href="{{=URL('static','css/jquery-ui.css' ) }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{=URL('static','css/jquery.ui.labeledslider.css' ) }}" />
        {{if response.meta.use_bootstrap_select: }}
            <link rel="stylesheet" href="{{=URL('static','css/bootstrap-select.css')}}"/>
        {{pass}}
        <link rel="stylesheet" href="{{=URL('static','css/jquery.jqplot.css')}}"/>
        <link rel="stylesheet" href="{{=URL('static','css/m16e.css')}}"/>
        <link rel="stylesheet" href="{{=URL('static','css/chirico.css')}}"/>
        {{if response.meta.app_theme.stylesheet: }}
            <link rel="stylesheet" href="{{=URL('static','css/' + response.meta.app_theme.stylesheet + '.css' ) }}"/>
        {{pass}}

        <!-- include custom stylesheets : END -->

        {{block head}}{{end}}
    </head>
    <body>
        <!--[if lt IE 9]>
            <p class="browserupgrade">
                Está a usar um navegador (<i>browser</i>) desactualizado.
                Deverá <a href="http://browsehappy.com/">actualizar o seu navegador</a> de modo
                a usufruir de todas as funcionalidades da interface.
            </p>
        <![endif]-->

        <div class="w2p_flash alert alert-dismissable">{{=response.flash or ''}}</div>
        <!-- Header + Navbar ======================================= -->
        {{include 'header_%s.html' % response.meta.app_theme.meta_name }}

        <!-- Main ========================================= -->
        <!-- Begin page content -->
        <div class="container-fluid main-container auto_margin">
            {{include 'message_board.html' }}
            {{include}}
        </div>

        {{block footer}} <!-- this is default footer -->
            {{include 'footer_%s.html' % response.meta.app_theme.meta_name }}
        {{end}}
        <!-- The javascript =============================== -->
        <script src="{{=URL('static','js/jquery-ui.js')}}"></script>
        <script type="text/javascript">
            <!-- Change JQueryUI plugin names to fix name collision with Bootstrap.-->
            $.widget.bridge('jquitooltip', $.ui.tooltip);
            $.widget.bridge('jquibutton', $.ui.button);
        </script>
        <script src="{{=URL('static','js/modernizr-2.8.3.min.js')}}"></script>
        <script src="{{=URL('static','js/bootstrap.bundle.min.js')}}"></script>
        <script src="{{=URL('static','js/web2py-bootstrap3.js')}}"></script>
        {{if response.meta.use_bootstrap_select: }}
            <script src="{{=URL('static','js/bootstrap-select.js')}}"></script>
        {{pass}}
        <script src="{{=URL( 'static','js/i18n/defaults-pt_PT.js' ) }}"></script>
        <script src="{{=URL('static', 'js/Chart-2.9.3.min.js' ) }}"></script>
        <script src="{{=URL('static', 'js/m16e.js' ) }}"></script>

        <!-- Share ============================y============ -->
        <script src="{{=URL('static','js/share.js',vars=dict(static=URL('static','images')))}}"></script>


        {{block page_js}}{{end page_js}}
        {{if auth.is_impersonating(): }}
            <script>
                jQuery(function(){
                    jQuery( '#navbar' ).css( 'background-color', '#FFEEBB' );
                } );
            </script>
        {{pass}}

        {{if response.meta.use_bootstrap_select: }}
            <script>
                jQuery(function(){
                    jQuery( 'select' ).not( '.ui-dialog select' ).addClass( 'selectpicker' );
                    jQuery( 'select' ).not( '.ui-dialog select' ).attr( 'title', '' );
                    jQuery( 'select' ).not( '.ui-dialog select' ).selectpicker();
                    jQuery( 'select' ).not( '.ui-dialog select' ).selectpicker('refresh');
                } );
            </script>
        {{pass}}
        <script>
            jQuery(function(){
                jQuery( '.w2p_flash' ).delay( {{=response.meta.flash_msg_delay }} )
                                      .fadeOut( {{=response.meta.flash_msg_delay }} );
            } );
        </script>

        {{if 'page_js' in globals(): }}
            {{=SCRIPT( page_js ) }}
        {{pass}}


    </body>
</html>
