{{left_sidebar_enabled,right_sidebar_enabled=False,False}}
{{extend 'layout.html'}}

<h2>{{=T( 'Invite users' ) }}</h2>

<p style="font-size: 120%;">
    A opção de convidar amigos para o painel da Pontis e da Boost Research
    está suspensa durante um período para consolidação do painel.
    Informaremos quando for retomado.
    O pagamento dos créditos acumulados não sofrerá alteração, desde que
    tenham obtido o valor mínimo de 15€ que os permite requisitar.
</p>
<p style="font-size: 120%;">
    A falha do programa que não permitia a requisição de créditos já está
    resolvida.
</p>
<p style="font-size: 120%;">
    Obrigada pela colaboração e continuamos a contar convosco para os
    nossos inquéritos.
</p>

{{block right_sidebar}}
{{end}}

