{{left_sidebar_enabled,right_sidebar_enabled=False,False}}
{{extend 'layout.html'}}

<h3> {{=T( 'User data' )}} </h3>

{{=form.custom.begin}}

{{if user_data:}}
    {{for f in db.user_data.fields:}}
        {{fld = 'org__' + f}}
        <input name="{{=fld}}" type="hidden" value="{{=user_data.get(f) or '' }}">
    {{pass}}
    <input name="org__first_name" type="hidden" value="{{=auth_user.first_name}}">
    <input name="org__email" type="hidden" value="{{=auth_user.email }}">
{{pass}}

<div class="row">
    <div class="col-md-2">
        <label for="id">{{=T( 'User #' )}}:</label>
    </div>
    <div class="col-md-1">
        {{=form.custom.widget.id}}
    </div>
    <div class="col-md-1">
        <label for="first_name">{{=T( 'Name' )}}:</label>
    </div>
    <div class="col-md-8">
        {{=form.custom.widget.first_name }}
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <label for="address_1">
            {{=T( 'Address' )}}:
        </label>
    </div>
    <div class="col-md-10">
        {{=form.custom.widget.address_1}}
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <label for="address_2">
            {{=T( 'Address (line 2)' )}}:
        </label>
    </div>
    <div class="col-md-10"> {{=form.custom.widget.address_2}} </div>
</div>
<div class="row">
    <div class="col-md-2">
        <label for="zip_code">
            {{=T( 'Zip code' )}}:
        </label>
    </div>
    <div class="col-md-4">
        {{=form.custom.widget.zip_code }}
    </div>
    <div class="col-md-2">
        <label>
            {{=T( 'City' )}}:
        </label>
    </div>
    <div class="col-md-4" id="user_data_city">
        {{=form.custom.widget.city }}
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <label for="country_id">{{=T( 'Country' )}}:</label>
    </div>
    <div class="col-md-4">
        {{=form.custom.widget.country_id}}
    </div>
    <div class="col-md-2">
        <label for="phone_1">
            {{=T( 'Mobile phone' )}}:
        </label>
    </div>
    <div class="col-md-4">
        {{=form.custom.widget.phone_1}}
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <label for="email">{{=T( 'E-mail' )}}:</label>
    </div>
    <div class="col-md-4">
        {{=form.custom.widget.email }}
    </div>
    <div class="col-md-2">
        <label for="url">{{=T( 'URL' )}}:</label>
    </div>
    <div class="col-md-4">
        {{=form.custom.widget.url }}
    </div>
</div>
<div class="row">
    <div class="col-md-12 text-center">
        <button
            name="action" type="submit"
            value="act_submit"
            class="btn btn-primary">
            {{=T('Update data')}}
        </button>
    </div>
</div>

{{=form.custom.end}}


