body {
    padding-top: 0px;
    color: #000000;
    background-color: #eeeeee;
    font: 12px/18px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.aside_container {
    margin-left: 1em;
}

.dev_only {
    color: #C500A0;
/*    background-color: #FFC0F4; */
}

.admin {
	border-radius:6px;
    border: 1px solid #8800ff;
    padding: 0px 5px;
}

.not_empty {
    color: #ff0000;
}

.block_container > .block_display_body > h1 {
    color: #222222;
/*    background-color: #dddddd; */
    margin-top: 6px;
    margin-bottom: 6px;
    padding: 0px 6px;
}

.aside_title {
    background-color: #333333;
    color: #cccccc;
    font-size: 18px;
/*    margin-top: 6px; */
    line-height: 28px;
    margin-bottom: 6px;
}

.aside_block {
    padding: 0px;
}

.aside_block > h2 {
    color: #333333;
    background-color: #cccccc;
    margin-top: 6px;
    margin-bottom: 6px;
}

.img_link > a > img {
    border: solid 2px #49b5e2;
}

.bg-dark {
    background-color:#000000 !important
}

/* table/column width */
.w5pct{ width: 5%; }
.w8pct{ width: 8%; }
.w10pct{ width: 10%; }
.w12pct{ width: 12%; }
.w14pct{ width: 14%; }
.w15pct{ width: 15%; }
.w20pct{ width: 20%; }
.w25pct{ width: 25%; }
.w30pct{ width: 30%; }
.w33pct{ width: 33%; }
.w35pct{ width: 35%; }
.w40pct{ width: 40%; }
.w50pct{ width: 50%; }
.w60pct{ width: 60%; }
.w66pct{ width: 66%; }
.w70pct{ width: 70%; }
.w75pct{ width: 75%; }
.w80pct{ width: 80%; }
.w90pct{ width: 90%; }
.w100pct{ width: 100% }


/* blocks */
div.div_edit_block {
    line-height: 14px;
    top:0px;
    left:0px;
    position:absolute;
    background-color: #888888;
}

div.div_add_block_before {
    line-height: 14px;
    top: 0px;
    right: 0px;
    position: absolute;
    background-color: #444444;
}

div.div_add_block_after {
    line-height: 14px;
    bottom:0px;
    right:0px;
    position:absolute;
    background-color: #444444;
}

div.div_del_block {
    line-height: 14px;
    bottom:0px;
    left:0px;
    position:absolute;
    background-color: #444444;
}

div.div_edit_msg {
    line-height: 14px;
    top:0px;
    right:0px;
    position:absolute;
}

.command_div {
/*
    top: -1px;
    right: -24px;
    position: absolute;
    border: solid 1px #cccccc;
    background-color: #ffffff;
    font-size: 12px;
    padding-left: 2px;
    */
}

.tm_header_time {
}

/* votes */
.has_not_voted,
.has_not_voted a {
    color: #444444;
}

.has_voted_up,
.has_voted_up a {
    color: #00cc00;
}

.has_voted_down,
.has_voted_down a  {
    color: #cc0000;
}

.vote_display {
    padding-left: 1em;
}

.vote_display_count {
    padding-left: 0.25em;
}
/* votes - END*/

/*
.block_container {
    margin-left: 5em;
}
*/

img.site_image {
    object-fit: scale-down;
    width:100%;
    max-width:1280px;
}

img.site_image_thumb {
    object-fit: scale-down;
    width:100%;
    max-width:200px;
}

.font_huge {
    font: 16px/22px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.field_value {
    margin: 0;
    padding: 0.25em 0.5em;
}

.block_container:last-child {
    margin-bottom: 1em;
}

.block_container .div_add_block_before,
.block_container .div_add_block_after,
.block_container .div_del_block,
.block_container .div_edit_block,
.block_display_body.editor_highlight > .div_add_block_before,
.block_display_body.editor_highlight > .div_add_block_after,
.block_display_body.editor_highlight > .div_del_block,
.block_display_body.editor_highlight > .div_edit_block {
    border: solid 1px transparent;
    visibility: hidden;
}

.block_display_body.editor_highlight {
    border: solid 1px transparent;
}

.block_display_body.editor_highlight:hover > .div_del_block,
.block_display_body.editor_highlight:hover > .div_edit_block,
.block_display_body.editor_highlight:hover > .div_add_block_before,
.block_display_body.editor_highlight:hover > .div_add_block_after,
.block_display_body.editor_highlight:hover {
    border: solid 1px #cccccc;
    visibility: visible;
}

/* nav */
.navbar{
    margin: 0px;
    border-top: 1px solid #333333;
}

.navbar-default {
    padding-right: 0px;
    padding-left: 0px;
    min-height: 32px;
    background-color: transparent;
}


.navbar-default > .container-fluid {
    background-color: #222222;
}

.navbar .nav > li > a{
    line-height: 14px;
    padding: 8px 15px;
    font-weight: 700;
    text-transform: none;
}

.dropdown-menu > li > a {
    text-transform: none;
}

ul.navbar-nav  li.nav-item a.nav-link.dropdown-toggle,
ul.navbar-nav  li.nav-item a.nav-link {
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
}

#login_menu  li.nav-item a.nav-link {
    color: #cccccc;
    font-size: 12px;
    font-weight: normal;
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
    background-color:#eee;
    color: #32296C;
}

/* nav - END */

/*
body > .row {
    margin: 0;
}
*/
body > .row > .col-md-12 {
    margin: 0;
}

.page_title {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 2;
}

.container-fluid.page_header {
    padding: 0;
}

/* m16e.css */
.footer {
    margin: 0;
    padding: 0;
/*    background: #333333 none repeat scroll 0% 0%; */
    border-radius: 0px;
    color: #cccccc;
    background-color: #333333;
}



div.container-fluid.main-container {
    padding-bottom: 142px;
}

.footer {
    height: 142px;
}

@media only screen and (max-width: 1050px) {
    div.container-fluid.main-container {
        padding-bottom: 180px;
    }
    .footer {
        height: 180px;
    }
}

@media only screen and (max-width: 720px) {
    div.container-fluid.main-container {
        padding-bottom: 230px;
    }
    .footer {
        height: 230px;
    }
}

.footer > div,
.footer > .container-fluid {
/*    margin: 0;
    padding: 9px; */
    background-color: #333333;
    border-radius: 0px;
}

.footer .menu {
/*    margin-bottom: 6px; */
    padding-bottom: 10px;
}

.footer .associated_sites {
    padding-top: 10px;
    padding-bottom: 20px;
}

/*
.footer > .container-fluid {
    margin: 0;
    margin-top: 2px;
    padding: 4px;
}

.footer > .container-fluid > .row {
    margin-left: 0px;
    margin-right: 0px;
}
*/

.container-fluid.auto_margin,
.footer > .container-fluid.auto_margin {
    margin: 0 auto;
/*    border: 1px solid red; */
}

.container-fluid.main-container.auto_margin,
.footer > .container-fluid.auto_margin {
    width: 90%;
    max-width: 1024px;
    margin: 0 auto;
/*    border: 1px solid red; */
}

@media only screen and (max-width: 1050px) {
    .container-fluid.main-container.auto_margin,
    .footer > .container-fluid.auto_margin {
        width: 100%;
        margin: 0 auto;
    /*    border: 1px solid red; */
    }
}

.btn-submit {
    color: #ffffff;
    background-color: #245777;
    border-color: #245777;
}

.btn-submit:hover,
.btn-submit:focus,
.btn-submit:active {
    background-color:#3888b9;
    color: #ffffff;
}

.btn {
/*    padding: 6px 12px; */
/*    line-height: 1.33333; */
    text-transform: none;
}


.form-control {
    height: 28px;
    margin: 2px;
    padding: 5px 5px;
    font-size: 12px;
}

.form-control .btn > span {
    font-size: 12px;
}

.bootstrap-select.btn-group:not(.input-group-btn),
.bootstrap-select.btn-group[class*="col-"] {
    margin-left: 2px;
    font-size: 12px;
}

form .row.forum_comment_box {
    margin-bottom: 10px;
}

/*
.form-control.btn-group > .btn:first-child {
    margin-left: 2px;
}

.form-control > .btn.dropdown-toggle.btn-default {
    margin: 2px;
    padding: 2 px 6px;
    line-height: 1;
}
*/
/* tables */
.table_border {
    border: none;
}

table > thead tr.table_totals th,
table > thead tr.table_header th,
table > tbody {
    /* border-bottom: 1px solid #c4c4d8; */
    margin-bottom: 10px;
}

.w100pct {
    width: 100%;
}

th,
td,
label {
    margin: 0px;
    padding: 0.25em 0.5em;
    white-space: normal;
}

a.form_field {
    margin: 0px;
    padding: 0.25em 0.5em;
    white-space: normal;
}

/*
th, td, label, input {
    vertical-align: top;
}

table.w100pct.inner_table.table_border{
    border: 0 !important;
}
*/

.inner_table_form {
    padding: 0px 4px;
    vertical-align: middle;
    font-size: 10px;
}

th.inner_table_form {
    font-size: 10px;
}

td.inner_table_form {
    font-size: 10px;
}


.nav_page_sel_limits > span {
    padding-right: 2em;
}

input[type="text"], input[type="checkbox"], textarea {
    border: 1px solid #cccccc;
    border-radius: 0px;
}

input[type="text"], textarea {
    width: 100%;
    display: table-cell;
}

input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly]{
    cursor:text;
    background-color:#FFF8FF;
}

.btn-group.bootstrap-select button.btn {
    background-color: #ffffff;
    color: #111136;
    border: 1px solid #cccccc;
    border-radius: 0px;
}


.integer, .double, .decimal {
    text-align: right;
}

.main-container {
    margin-top: 10px;
}

.single_container_page {
    margin-left: 40px;
    margin-right: 40px;
}

@media only screen and (max-width: 1050px) {
    .single_container_page {
        margin-left: 5px;
        margin-right: 5px;
    }
}

/* icons */
.glyphicon-white {
    color: #ffffff;
/*    height: 16px;
    width: 16px;
    line-height: 24px;
    width: 24px;
    */
    border:none;
}

.dark_bg {
    background-color: #245777;
    color: #ffffff;
}

a.dark_bg:hover {
    background-color: #3888b9;
}

.glyphicon.glyphicon-circle-arrow-right,
 glyphicon.glyphicon-white.glyphicon-envelope,
.dark_bg .glyphicon.glyphicon-white.glyphicon-envelope {
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 1px;
}

.glyphicon.glyphicon-edit {
    padding-left: 3px;
    padding-right: 2px;
    padding-bottom: 1px;
    line-height: 16px;
    /* vertical-align: middle; */
}

.glyphicon.glyphicon-plus {
    padding-left: 3px;
    padding-right: 2px;
}

.glyphicon.glyphicon-arrow-up,
.glyphicon.glyphicon-arrow-down,
.glyphicon.glyphicon-trash {
    padding-left: 2px;
    padding-right: 3px;
}

.glyphicon.glyphicon-user,
.glyphicon.glyphicon-search {
    padding-left: 3px;
    padding-right: 3px;
}

/* icons - END */

/* JQTE */
.jqte {
	margin:4px 0;
}

.jqte_tool.jqte_tool_1 .jqte_tool_label {
	padding:0px 3px;
}

/* forums */
.forum_title {
    background-color: #dddddd;
    padding-bottom:0.5em;
}

.forum_title h2 {
    margin:0;
}

.forum_post {
    border: solid 1px #cccccc;
}

.forum_post_msg {
    background-color: #ffffff;
}

.forum_comment {
    background-color: #ffffff;
    border: solid 1px #d8d8d8;
}

.forum_comment_box {
    border: solid 2px #cccccc;
    margin-bottom: 2px;
}

ul.thread_tree,
 ul.thread_tree ul {
    padding-left: 1em;
}

ul.thread_tree li {
    list-style: none;
}

.command_link {
    padding: 0px 6px;
    color: #29abe0;
    background-color: #eeeeee;
    font-size: 12px;
    font-weight: 700;
}

.btn.command_link:hover {
    color: #29abe0;
    background-color: #eeeeee;
}

h1 {
    font-size: 32px;
    line-height: 40px;
}

h2 {
    font-size: 26px;
    line-height: 32px;
}

.forum_comment h1,
.forum_post h1 {
    font-size: 24px;
    margin-top: 5px;
}

.forum_comment h2,
.forum_post h2 {
    font-size: 18px;
    margin-top: 5px;
}

.forum_comment h3,
.forum_post h3 {
    font-size: 16px;
    margin-top: 5px;
}

.forum_comment h4,
.forum_post h4 {
    font-size: 14px;
    margin-top: 5px;
}

#toggle_markmin_help_plus:hover,
#toggle_markmin_help_minus:hover {
    cursor: pointer;
}

.red {
    color: #ff0000;
}


div.saved_to_disk {
    position: absolute;
    left: 10px;
    top: 0px;
    background-color: #ffffff;
    line-height: 18px;
    padding-left: 2px;
    padding-right:2px;
    border: solid 1px #333333;
}

/*
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}
*/

.video_container iframe,
.video_container object,
.video_container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video_caption {
    font-size: 12px;
}