{{left_sidebar_enabled,right_sidebar_enabled=False,False}}
{{extend 'layout.html'}}

<h2>Registo concluído</h2>
<p>
  Foi enviado um e-mail para o endereço que indicou, com um link
  para activar o registo.
</p>

<p>
  Note que, dependendo da configuração da sua caixa de correio,
  poderá vir a ser classificado como lixo electrónico (SPAM).
</p>
<p> 
    <b>
      Deverá procurar a mensagem com
      o <i>link</i> de activação nesta pasta de correio.
    </b>
</p>

<p>
  Obrigado.
</p>

{{block right_sidebar}}
{{end}}

